<%= render partial: "layouts/banner" %>

<div class="container p-3 m-3 border bg-light  mx-auto">

<h3>Mes sélections</h3>

<div class="container">
  <div class="row justify-content-between ">
      <% @lists.each do |list| %>
          <%= render partial: "pages/card_list", locals: {list: list} %>
      <% end %>
</div>
</div>
</div>
